@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: darkslategrey;
  background-color: beige;
  font-size: 24px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}
h1 {
  font-size: 24px;
  margin: 0;
  display: inline;
  font-weight: normal
}
.navbar a {
  color: inherit;
  margin-left: 1em;
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: underline;
}
.navbar > div {
  text-align: right;
}
.content {
  padding: 1.5em;
}
